.swagger-ui .servers > label select {
  max-width: 200px;
  text-overflow: ellipsis;
}

.explanation-video {
  width: 100%;
  height: 480px;
  display: none;
}

.swagger-ui .opblock .opblock-summary-operation-id,
.swagger-ui .opblock .opblock-summary-path,
.swagger-ui .opblock .opblock-summary-path__deprecated {
  word-break: inherit;
  overflow: auto;
}

.swagger-ui .opblock .opblock-summary-path {
  min-width: 80px;
}

.schemes.wrapper.block.col-12 > div:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

.swagger-ui .scheme-container .schemes {
  gap: 8px;
}